##
## Velocity Template for DisplayUsernamePasswordPage view-state
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## authenticationContext - context with authentication request information
## authenticationErrorContext - context with login error state
## authenticationWarningContext - context with login warning state
## ldapResponseContext - context with LDAP state (if using native LDAP)
## rpUIContext - the context with SP UI information from the metadata
## extendedAuthenticationFlows - collection of "extended" AuthenticationFlowDescriptor objects
## passwordPrincipals - contents of the shibboleth.authn.Password.PrincipalOverride bean
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
## custom - arbitrary object injected by deployer
##
#set ($rpContext = $profileRequestContext.getSubcontext('net.shibboleth.idp.profile.context.RelyingPartyContext'))
#set ($username = $authenticationContext.getSubcontext('net.shibboleth.idp.authn.context.UsernamePasswordContext', true).getUsername())
#set ($passwordEnabled = true)
#set ($cmdEnabled = $environment.getProperty("idp.cmd.display", "true"))
#set ($ServiceLogo = $environment.getProperty("idp.ServiceLogo.display", "true"))
##

<!DOCTYPE html>
<html lang="pt">
	<head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Fornecedor de Identidade FCT|FCCN</title>
		<meta name="theme-color" content="#fff">
		<link rel="shortcut icon" href="$request.getContextPath()/FCCN/images/favicon.ico">
		<link rel="manifest" href="$request.getContextPath()/FCCN/manifest.json">
		<link rel="stylesheet" href="$request.getContextPath()/FCCN/css/style.css" type="text/css" />
		<link rel="stylesheet"  href="$request.getContextPath()/FCCN/css/bootstrap.min.css" type="text/css" >
		<script type="text/javascript" src="$request.getContextPath()/FCCN/js/locale.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	</head>
	<body>
	<!-- idp -->
		<script>if('serviceWorker' in navigator) {navigator.serviceWorker.register('$request.getContextPath()/sw.js').then(function() { console.log("Service Worker Registered"); });}</script>
		<div class="logmod">
				<div class="logmod__container">
					<div class="logo_header">
						<div class="lang_container">
						#set ($aux_lang = $request.getParameter('lang'))
							#if (!$aux_lang)
								#set ($userLocale = $request.getLocale().getLanguage())
								#if ($userLocale == "pt-PT" || $userLocale == "pt_PT" || $userLocale == "pt")
									#set ($aux_lang = "pt_PT")
									<script type="text/javascript">setLocale("pt_PT");</script>
								#else
									<script type="text/javascript">setLocale("en");</script>
								#end
							#end
						#if ($aux_lang == "pt_PT")
						<div>
							<div id="lang_image">
								<img id="lang_img" src="$request.getContextPath()#springMessage('idp.login.en.logo')" alt="#springMessageText('idp.login.en.alt', '')">
							</div>
							<div id="lang_text"> 
								<a class="lang_link" href="" onclick="setLocaleLogin('en');">#springMessageText('idp.login.en', 'EN')</a>
							</div>
						</div>
						#else
						<div>
							<div id="lang_image">
								<img id="lang_img" src="$request.getContextPath()#springMessage('idp.login.pt.logo')" alt="#springMessageText('idp.login.pt.alt', '')">							</div>
							<div id="lang_text"> 
								<a class="lang_link" href="" onclick="setLocaleLogin('pt_PT');">#springMessageText('idp.login.pt', 'PT')</a>
							</div>
						</div>
						#end
						</div>
						<header>
							<h5></h5>
							<a href="#springMessage("idp.logo.target.url")"><img class="img-responsive" src="$request.getContextPath()#springMessage('idp.logo')" alt="#springMessageText('idp.logo.alt-text', 'logo')"></a>
						</header>
					</div>
					<div class="logmod__heading">
						#set ($serviceName = $rpUIContext.serviceName)
						#if ($serviceName)
							#springMessageText('idp.attribute-release.serviceNameLabel', 'You are about to access the service:')<strong>$encoder.encodeForHTML($serviceName)</strong>
							#if ($ServiceLogo == "true")
								#set ($logo = $rpUIContext.getLogo())
								#if ($logo)
								<div class="logo_sp">
									<img class="img_srvp" src="$encoder.encodeForHTMLAttribute($logo)" alt="$encoder.encodeForHTMLAttribute($serviceName)">
								</div>
								<div class="desc_sp">
									#set ($desc = $rpUIContext.getServiceDescription())
										#if ($desc)
											$encoder.encodeForHTML($desc)
										#end
								</div>
								#end
							#end
						#end
					</div>
					<div class="logmod__tab-wrapper">
						<div class="tab-content">
							<div class="logmod__form">
								<form id="loginForm" action="$flowExecutionUrl" method="post">
									#parse("login-error.vm")
									<fieldset class="form-group">
										<label for="username">#springMessageText('idp.login.username', 'Nome de Utilizador')</label>
										<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="left" title="#springMessageText('idp.login.username.tooltip', '')"></span>
										<div class="input-group">
											<input id="username" name="j_username" type="text" class="form-control" placeholder="#springMessageText('idp.login.username', 'Nome de Utilizador')" aria-describedby="basic-addon2" value="#if($username)$encoder.encodeForHTML($username)#end" autofocus="autofocus">
											<span class="input-group-addon" id="basic-addon2">@fccn.pt</span>
										</div>
									</fieldset>
									<fieldset class="form-group">
										<label for="password">#springMessageText('idp.login.password', 'Password')</label>
										<input class="form-control" id="password" name="j_password" type="password" placeholder='#springMessageText("idp.login.password", "Password")' value="">
									</fieldset>
									<div class="label_link">
										#if ($passwordEnabled)
											<a href="#springMessageText('idp.login.forgotPassword.url', '#')">#springMessageText('idp.login.forgotPassword.text', 'Forgot your password?')</a>
										#end
									</div>
									<div id="options">
										<div>
											<input id="donotcache" type="checkbox" name="donotcache" value="1">
											<label for="donotcache">#springMessageText('idp.login.donotcache', 'Não memorizar senha para esta sessão. ')</label>
										</div>				
										<div>
											<label>
											<input id="_shib_idp_revokeConsent" type="checkbox" name="_shib_idp_revokeConsent" value="true">
											#springMessageText("idp.attribute-release.revoke", "Clear prior granting of permission for release of your information to this service.")
											<br>
											</label>
										</div>
										<br>
									</div>
									#if ($passwordEnabled)
									<div class="form-element-wrapper">
										<label id="msgRecaptcha" class="form-element form-error" style="display:none">#springMessageText("idp.captcha.loginMessage","")</label>
										<button id="btnLogin" class="btn btn-primary btn-md btb-login-crd" type="submit" name="_eventId_proceed">#springMessageText('idp.login.login', 'Login')</button>
									</div>
									#end
									#if ($cmdEnabled == "true")
									<div id="cc_container">
										<div class="logmod_cc_heading">
												#springMessageText("idp.login.cccmd.info","")
										</div>
										#foreach ($extFlow in $extendedAuthenticationFlows)
											#if ($authenticationContext.isAcceptable($extFlow) and $extFlow.apply(profileRequestContext))
												<button class="btn btn-primary-cc btn-lg btb-login-cc" type="submit" name="_eventId_$extFlow.getId()">
													<img id="img-login-cc-cmd" src="/idp/FCCN/images/cmd_cc.png" alt="#springMessageText('idp.cmd_cc_btn.alt-text', '')" /> 
												</button>
											#end
										#end
									</div>
									#end
							</div>
						</div>
						</form>
					</div>
					<div class="logmod__alter">
						<div class="logmod__alter-container">
							<div class="footer_help"><a href="#springMessage('idp.support.url')">#springMessageText('idp.support.text', 'logo')</a></div>
							<div class="footer_security"><a href="#springMessage('idp.sec.url')">#springMessageText('idp.sec.text', 'logo')</a></div>
							<div class="footer_rctsaai"><a href="#springMessage('idp.rctsaai.logo.url')"><img class="img-responsive" src="$request.getContextPath()#springMessage('idp.rctsaai.logo')" alt="#springMessageText('idp.rctsaai.logo.alt-text', 'logo')"></a></div>
						</div>
				</div>
				</div>
		</div>
		<script src="$request.getContextPath()/FCCN/js/jquery.min.js"></script>
		<script src="$request.getContextPath()/FCCN/js/bootstrap.min.js"></script>
	</body>
</html>